html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.red-dot-marker {
  position: relative;
  width: 10px;
  height: 10px;
  background: #e10600;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff;
  pointer-events: auto;
}

/* Ping ring */
.red-dot-marker .ping {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: rgba(225, 6, 0, 0.4);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: ping 1.8s ease-out infinite;
}

.red-dot-marker .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  transition: transform 0.2s ease;
  transform-origin: center;
}

.red-dot-marker:hover .dot {
  transform: scale(2.1);
  border: 2px solid white;
}

.red-dot-marker:active .dot {
  transform: scale(0.9);
  border: 2px solid white;
}


.black-dot-marker {
  position: relative;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff;
  pointer-events: auto;
}

.black-dot-marker .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  transition: transform 0.2s ease;
  transform-origin: center;
}

.black-dot-marker:hover .dot {
  transform: scale(2.1);
  border: 2px solid white;
}

.black-dot-marker:active .dot {
  transform: scale(0.9);
  border: 2px solid white;
}

.black-dot-marker .ping {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: ping 1.8s ease-out infinite;
}

@keyframes ping {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
  }
  70% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.expansion {
  color: red;
  width: 100%;
  font-weight: 700;
}

.compression {
  color: black;
  width: 100%;
  font-weight: 700;
  background: red;
}


.mapboxgl-popup-content {
  display: flex !important;
  flex-direction: column !important; 
  /*border-radius: 50% !important;*/
}

.city-card {
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}
